@using MvcKutuphaneOtomasyonu.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<BOLUM>
@{
    ViewBag.Title = "BolumListele";
    Layout = "~/Views/Shared/_YoneticiLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>BÖLÜM</h2>

        <div class="table-responsive-xl">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>BÖLÜM ID</th>
                        <th>BÖLÜM ADI</th>
                        <th>EKLEYEN ID</th>
                        <th>DURUM ID</th>
                        <th>SİL</th>
                        <th>GÜNCELLE</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var blm in Model)
                    {
                        <tr>
                            <th>@blm.BolumId</th>
                            <td>@blm.BolumAd</td>
                            <td>@blm.EkleyenId</td>
                            <td>@blm.DurumId</td>
                            <td><a href="/Yonetici/BolumSil/@blm.BolumId" class="btn btn-danger">Sil</a></td>
                            <td><a href="/Yonetici/BolumGetir/@blm.BolumId" class="btn btn-success">Güncelle</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("BolumListele", new { sayfa }))
<a href="/Yonetici/BolumEkle/" class="btn btn-primary">Bölüm Ekle</a>
