@model MvcKutuphaneOtomasyonu.Models.Entity.YONETICI
@{
    ViewBag.Title = "YoneticiEkle";
    Layout = "~/Views/Shared/_YoneticiLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <form class="form-group" method="post">
            <div style="margin-top:30px;">
                <label><b>Yönetici Adı</b></label>
                @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Ad, "", new { @style = "color:red" })
            </div>
            <div>
                <label><b>Yönetici Soyadı</b></label>
                @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Soyad, "", new { @style = "color:blue" })
            </div>
            <div>
                <label><b>Mail</b></label>
                @Html.DisplayFor(x => x.Mail, new { @class = "form-control" })
                @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Mail, "", new { @class = "error" })
            </div>
            <div>
                <label><b>Şifre</b></label>
                @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Sifre, "", new { @style = "color:green" })
            </div>
            <div>
                <label><b>Durum Seçiniz</b></label>
                @Html.DropDownListFor(x => x.GIRIS.DurumId, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.GIRIS.DurumId, "", new { @style = "color:black" })
            </div>
            <div style="margin-top:15px;">
                <button class="btn btn-primary">Yönetici Ekle</button>
            </div>
        </form>
    </div>

</body>
</html>