@using MvcKutuphaneOtomasyonu.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<YONETICI>
@{
    ViewBag.Title = "YoneticiListele";
    Layout = "~/Views/Shared/_YoneticiLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>YÖNETİCİ</h2>

        <div class="table-responsive-xl">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>YÖNETİCİ ID</th>
                        <th>YÖNETİCİ ADI</th>
                        <th>YÖNETİCİ SOYADI</th>
                        <th>MAİL ADRESİ</th>
                        <th>ŞİFRE</th>
                        <th>DURUM ID</th>
                        <th>DURUM ADI</th>
                        <th>SİL</th>
                        <th>GÜNCELLE</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ynt in Model)
                    {
                        <tr>
                            <th>@ynt.YoneticiId</th>
                            <td>@ynt.Ad</td>
                            <td>@ynt.Soyad</td>
                            <td>@ynt.Mail</td>
                            <td>@ynt.Sifre</td>
                            <td>@ynt.DurumId</td>
                            <td>@ynt.GIRIS.DurumAd</td>
                            <td><a href="/Yonetici/YoneticiSil/@ynt.YoneticiId" class="btn btn-danger">Sil</a></td>
                            <td><a href="/Yonetici/YoneticiGetir/@ynt.YoneticiId" class="btn btn-success">Güncelle</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("YoneticiListele", new { sayfa }))
<a href="/Yonetici/YoneticiEkle/" class="btn btn-primary">Yönetici Ekle</a>
