@using MvcKutuphaneOtomasyonu.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<ISLEM>
@{
    ViewBag.Title = "OduncSayfa";
    Layout = "~/Views/Shared/_PersonelLayout.cshtml";
}

<h2>İade Alınan  Kitap Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>İşlem ID</th>
        <th>Kitap Adı</th>
        <th>Üye</th>
        <th>Alış Tarihi</th>
        <th>İade Tarihi</th>
        <th>İade Al</th>
    </tr>
    @foreach (var ktp in Model)
    {
        <tr>
            <th>@ktp.IslemId</th>
            <td>@ktp.KITAP.Ad</td>
            <td>@ktp.OGRENCI.Ad @ktp.OGRENCI.Soyad</td>
            <td>@Convert.ToDateTime(ktp.AlısTarihi).ToString("dd/MMM/yyyy")</td>
            <td>@Convert.ToDateTime(ktp.VerisTarihi).ToString("dd/MMM/yyyy")</td>
            <td><a href="/Personel/Odunciade/@ktp.IslemId" class="btn btn-default" style="background-color:#ff0000; color:white">Detaylar</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))